{% extends 'base.html.twig' %}

{% block title %}Sorties index
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Sorties index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Email</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Telephone</th>
					<th>Actif</th>
					<th>Pseudo</th>
					<th>Photo profil</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for sortie in sorties %}
					<tr>
						<td>{{ sortie.nom }}</td>
						<td>
							<a href="{{ path('sortie_detail', {'id': sortie.id}) }}">show</a>
							<a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('sortie_create') }}">Create new</a>
	</div>
{% endblock %}
