select.form-control{display:inline-block}
input.form-control{display:inline-block}

select.form-control-sm{
    display:inline-block;
    margin-left: 10px;
    width: fit-content;
}
input.form-control-sm{
    display:inline-block;
    margin-left: 5px;
    width: fit-content;
}

input.datepicker{
    width:90px;
    text-align: center;
}

