<nav>
  <ul>
    <li>
      <a title="Tout les participants" href="{{ path('participant_index') }}"
        >Participants</a
      >
    </li>

    <li><a title="Login" href="{{ path('app_login') }}">Login</a></li>
  </ul>
</nav>
